<div style="width: 100%; height: 88vh;" class="d-flex justify-content-center
 align-items-center">

<div class=" bg-dark shadow bg-secondary row rounded p-5 align-items-center"
style="width: 1000px;">
<div class="col-lg-6">
    <img class="img-fluid"  src="https://i.postimg.cc/fTYvqHqk/login-concept-illustration-114360-4525-removebg-preview.png" alt="landing">
</div>
<div class="col-lg-6">

    <form #loginForm="ngForm" class="border p-5 rounded" (ngSubmit)="login()" > 
<h1 class="fw-bolder mb-5 text-light">Login Form</h1>
<div class="form-floating mb-3">
    <input name="email" [(ngModel)]="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
    email required #userEmailInput="ngModel" >
    <label for="floatingInput">Email address</label>
  </div>
  <!-- invalid email -->
<div *ngIf="userEmailInput.invalid && userEmailInput.touched" class="text-danger fw-bolder mb-3">*Invalid Email</div>

  <div class="form-floating mb-3">
    <input name="password" [(ngModel)]="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" pattern="[a-zA-Z0-9]*" 
    minlength="3" required #userPswdInput="ngModel">
    <label for="floatingPassword">Password</label>
  </div>
    <!-- invalid password -->
<div *ngIf="userPswdInput.invalid && userPswdInput.touched" 
class="text-danger fw-bolder mb-3">*Invalid Password</div>

  <div class="d-grid">
    <button type="submit" [disabled]="loginForm.invalid && loginForm.touched" class="btn btn-warning">Login</button>
  </div>
    </form>
</div>
</div>
</div>
<!-- <pre>
    <p> email:  {{email}}</p>
  <p>password:{{password}}   </p>
   </pre> -->
